$color-pink:        #FF6763;
$color-purple:      #646cff;
$color--dark-purple:#7B7DAA;
$color-almost-black:#222222;
$color-green:       #63FF96;
$color-yellow:      #FFE063;
$color-turqoise:    #00989c;